.main{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 2em;
}
#upload-area{
    background-color: #DDD;
    /* height: 100px; */
    width: 100%;
    border: solid 5px #a2c4ef;/*線*/
    border-radius: 10px;
}

#upload-area > p{
    text-align: center;
}

/* プログレスバー */
#progress{
    width:100%;
    height:50px;
    background-color:#ececec;
    position:relative;
    border-radius:10px;
    overflow: hidden;
}
#progress-bar{
    width:0%;
    position:absolute;
    height:100%;
    background-color:#FFCA28;
    animation: progress 4s normal;
    animation-fill-mode: forwards;
}
