.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
#upload-area{
    background-color: #DDD;
    text-align: center;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    border: solid 5px #a2c4ef;/*線*/
    border-radius: 10px; /*丸み*/
}

/* プログレスバー */
#progress{
    width:400px;
    height:50px;
    background-color:#ececec;
    position:relative;
    border-radius:10px;
    overflow: hidden;
}
#progress-bar{
    width:0%;
    position:absolute;
    height:100%;
    background-color:#FFCA28;
    animation: progress 4s normal;
    animation-fill-mode: forwards;
}
